<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="erroer_explanetion">
      <h2>入力エラーがあります。</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
      　　<li><%= msg %></li>
    　<% end %>
    　</ul>
    </div>
  <% end %>

  <div class="blog_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
    <%= form.submit %>
<% end %>
